<div class="before-search">
  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <h1>{{theEvent.title}}</h1>
      <h4>Date: {{theEvent.datetime_local | date: 'yyyy MMMM d'}}</h4>
      <h4>Venue: {{theEvent.venue.name}}</h4>
      <h4>Address: {{theEvent.venue.address}}, {{theEvent.venue.display_location}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <h1>Tickets</h1>
      <h4>Average Price: {{theEvent.stats.average_price | currency}}</h4>
      <h4>High Price: {{theEvent.stats.highest_price | currency}}</h4>
      <h4>Low Price: {{theEvent.stats.lowest_price | currency}}</h4>
      <a href="{{theEvent.url}}">Buy Tickets</a>
    </div>
  </div>
</div>